<!-- Blog Section -->
<section id="blog" class="section">
    <div class="container">
        <h2 class="section-title" data-aos="fade-up">Blog</h2>
        
        <div class="latest-blog-container" data-aos="fade-up" data-aos-delay="300">
            <div class="latest-blog-card" id="latest-blog-card">
                <!-- Latest blog post will be loaded dynamically -->
            </div>
        </div>
        
        <div class="text-center" data-aos="fade-up" data-aos-delay="400">
            <a href="https://medium.com/@glitchidea" target="_blank" class="btn btn-secondary">
                <i class="fas fa-book-open"></i>
                Yazılarım
            </a>
        </div>
    </div>
</section>
